#nav-bar {
    display:flex;
    align-items: center;
    float: right;
}
.nav-element {
    position: relative;
    color: inherit;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 12px;
}
.nav-icon{
    height: 32px;
    border-radius: 50%;
}
#google-logo-div{
    width: 100%;
    height: 100%;
}
#google-logo{
    display: block;
    position: relative;
    top:37.4%;
    left:49.7%;
    transform: translate(-50%, -100%);
}
#search-bar {
    display: grid;
    position: relative;
    grid-template-columns: auto 20% auto;
    justify-content: center;
    align-items: center;
    top: 31%;
}
.search-icon{
    height: 20px;
    border-radius: 50%;
    opacity: 40%;
}
#search-input{
    opacity: 0%;
}
#search-buttons{
    position: relative;
    width: 50%;
    top: 36.5%;
    left: 45%;

}
button{
    position: relative;
    margin-left: 0%;
    margin-right: 3.5%;
    border-width: 0px;
    font-size: 14px;
    text-decoration: none;
    opacity: 80%;
}

#footer-bar{
    position:fixed;
    width: 100%;
    bottom: 0px;
}
#footer-country{
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
    padding-bottom: 1.5%;
    padding-left: 1%;
    opacity: 60%;
}
#footer{
    display: block;
    padding-bottom: 1.5%;
    opacity: 60%;

}
.footer-left {
    float:left;
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    padding-left: 1%;
}
.footer-right{
    float: right;
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    padding-right: 1%;
}
